#somethingView
{
    display: flex;
    padding: 15px;
    width: 100%;
    height: 100%;
}

header h1{
    float:left;
    color:white;
    
}



#browse
{
   
    background-color: #5D6AA8;
    

}

#bSearch
{
    float: left;
    background-color: #464680;
}
table 
{
    width: 100%;

    border-collapse: collapse;

}
td {
  padding: 0.5rem 3rem;
  font-size: 1rem;
}

tr:nth-child(even) {
    background-color: #7989DB;
  }

.hidden {
    display: none !important; /*Something overwriting the display none attribute. 
                                Figure out what soon as this method not very practical */
}
header
{
    width: 100%;
    background-color: #465080;
    text-align: center;
    padding: 40px;
}

li
{
    list-style: none;
    padding: 10px;
}

#songTr:hover
{
    background-color: #464680;
    cursor: grab;
}
th
{
    height: 30px;
}
#songView
{
    display: flex;
    width: 100%;
}

#songInfo
{
    padding: 10px;
    margin-left: 40px;
}
#playlistView
{
    background-color: #7979DB;
}
.cardsInfo
{
    width: 50%;
    background-color: #7979DB;
    margin: 20px;

}





