#somethingView
{
    display: flex;
    padding: 15px;
    width: 100%;
    height: 100%;
}

#browse
{
    background-color: lightsalmon;

}
#bSearch
{
    float: left;
    background-color: lightsalmon;
}
table 
{
    width: 100%;
    border-collapse: collapse;

}
td {
  padding: 0.5rem 3rem;
  font-size: 1rem;
}

tr:nth-child(even) {
    background-color: rgb(181, 194, 194);
  }

.hidden {
    display: none !important; /*Something overwriting the display none attribute. 
                                Figure out what soon as this method not very practical */
}
header
{
    width: 100%;
    background-color: lightsalmon;
    text-align: center;
    padding: 20px;
}
li
{
    list-style: none;
    padding: 10px;
}

tr:hover
{
    background-color: green;
    cursor: grab;
}





